<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="DynamicLayers">

    <title>CHIGARI-HOME</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- Font Awesome Icons CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Themify Icons CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- Elegant Font Icons CSS -->
    <link rel="stylesheet" href="css/elegant-font-icons.css">
    <!-- Elegant Line Icons CSS -->
    <link rel="stylesheet" href="css/elegant-line-icons.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="css/venobox/venobox.css">
    <!-- OWL-Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="css/slicknav.min.css">
    <!-- Css Animation CSS -->
    <link rel="stylesheet" href="css/css-animation.min.css">
    <!-- Nivo Slider CSS -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="site-preloader-wrap">
        <div class="spinner"></div>
    </div>
    <!-- Preloader -->

    <!-- /Header Section -->

    <%- include ('partials/header.ejs') %>

        <div class="header-height"></div>

        <section class="slider-section">
            <div class="slider-wrapper">
                <div id="main-slider" class="nivoSlider">
                    <img src="PICS/hng.jpg" alt="" title="#slider-caption-1" />
                    <img src="PICS/hng.jpg" alt="" title="#slider-caption-2" />
                    <img src="PICS/hng.jpg" alt="" title="#slider-caption-3" />
                </div>
                <!-- /#main-slider -->

                <div id="slider-caption-1" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-text">
                                    <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                    <h1 class="wow cssanimation leFadeInRight sequence">Better Life for People</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping!
                                        <br>Forget what you can get and see what you can give.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#slider-caption-1 -->
                <div id="slider-caption-2" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-text">
                                    <h1 class="wow cssanimation fadeInTop" data-wow-delay="1s" data-wow-duration="800ms">Together we
                                        <br>can make a Difference</h1>
                                    <p class="wow cssanimation fadeInBottom" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping!
                                        <br>Forget what you can get and see what you can give.</p>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#slider-caption-2 -->
                <div id="slider-caption-3" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                                <div class="slider-text">
                                    <h5 class="wow cssanimation fadeInBottom">Join Us Today</h5>
                                    <h1 class="wow cssanimation lePushReleaseFrom sequence" data-wow-delay="1s">Give a little. Change a lot.</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">Help today because tomorrow you may be the one who needs helping!
                                        <br>Forget what you can get and see what you can give.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#slider-caption-3 -->
            </div>
        </section>
        <!-- /#slider-Section -->

     
        <!-- /Promo Section -->
        <section class="events-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Upcoming Events</h2>
                    <span class="heading-border"></span>

                </div>
                <!-- /Section Heading -->
            </div>
            <div class="container">
                <div class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein slider-item-first-visible slider-nav-autoplay"
                    data-slider-nav-autoplay-interval="5000">
                    <ul class="slider-container py-4">

                        <%for (var i =0; i<event.length; i++){%>
                            <li class="slide-visible">
                                <div class="card shadow h-100">
                                    <div class="ratio ratio-16x9">
                                        <img src="<%=event[i].image%>" class="card-img-top" loading="lazy" alt="...">
                                    </div>
                                    <div class="card-body p-3 p-xl-5">
                                        <h3 class="card-title h5" style="margin-top:-10px">
                                            <%=event[i].title%>
                                        </h3>

                                        <p>
                                            <i class="ti-calendar"></i>
                                            <%=event[i].date%>
                                                <%=event[i].time%>
                                        </p>
                                        <p style="margin-top:-10px">
                                            <i class="ti-location-pin"></i>
                                            <%=event[i].venue%>
                                        </p>

                                        <p class="card-text" style=" margin-top:-10px; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <%=event[i].content%>
                                        </p>
                                        <div>
                                            <a href="/view-event/<%=event[i]._id%>" class="btn" style="background-color: #023020 !important;color: white">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </li>



                            <%}%>



                    </ul>

                    <button type="button" class="slider-nav" aria-label="Go left"></button>
                    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>


                </div>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="/all-events" class="text-center">
                                <button class="btn btn-primary btn-lg form-control" style="background-color: #023020 !important">More Events</button>
                            </a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Events Section -->







      
        <!-- Events Section -->
        <section class="blog-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>Recent News</h2>
                    <span class="heading-border"></span>
                </div>
                <!-- /Section Heading -->
            </div>
            <div class="container">
                <div class="swiffy-slider slider-item-show2 slider-item-reveal slider-nav-outside slider-nav-round slider-nav-visible slider-indicators-outside slider-indicators-round slider-indicators-dark slider-nav-animation slider-nav-animation-fadein slider-item-first-visible slider-nav-autoplay"
                    data-slider-nav-autoplay-interval="50000">
                    <ul class="slider-container py-4">
                        <%for (var i =0; i<news.length; i++){%>

                          
                            <li class="slide-visible">
                                <div class="card shadow h-100">
                                    <div class="ratio ratio-16x9">
                                        <img src="<%=news[i].image%>"  class="card-img-top" loading="lazy" alt="...">
                                    </div>
                                    <div class="card-body p-3 p-xl-5">
                                        <h3 class="card-title h5" style="margin-top:-10px">
                                            <%=news[i].title%>
                                        </h3>
                                        <span class="date">
                                            <i class="fa fa-clock-o"></i>
                                            <%=news[i].datePublished%>
                                        </span>
                                        <p class="card-text" style=" margin-top:-10px; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            <%=news[i].content%>
                                        </p>
                                        <div>
                                            <a href="/view-news/<%=news[i]._id%>" class="btn" style="background-color: #023020 !important;color: white">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <%}%>
                    </ul>

                    <button type="button" class="slider-nav" aria-label="Go left"></button>
                    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
                </div>
                <div class="container-fluid">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <a href="/all-news" class="text-center">
                                <button class="btn btn-primary btn-lg form-control" style="background-color: #023020 !important">More News</button>
                            </a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Events Section -->
        <!-- /Team Section -->

        
        <!-- Counter Section -->
        <section class="blog-section bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>OUR PARTNERS</h2>
                    <span class="heading-border"></span>
                </div>
                <!-- /Section Heading -->
                <div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay  slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4"
                    data-slider-nav-autoplay-interval="2000">
                    <div class="slider-container" style="height: 250px !important">
                        <%for (var i =0; i<partner.length; i++){%>
                            <div>
                                <a href="<%=partner[i].sitelink%>" style="margin-left: 50px">
                                    <img src="<%=partner[i].image%>" alt="..." style="width:200px; height: 200px">
                                </a>
                            </div>
                            <%}%>
                                <%for (var i =0; i<partner.length; i++){%>
                                    <div>
                                        <a href="<%=partner[i].sitelink%>" style="margin-left: 50px">
                                            <img src="<%=partner[i].image%>" alt="..." style="width:200px; height: 200px">
                                        </a>
                                    </div>
                                    <%}%>
                                        <%for (var i =0; i<partner.length; i++){%>
                                            <div>
                                                <a href="<%=partner[i].sitelink%>" style="margin-left: 50px">
                                                    <img src="<%=partner[i].image%>" alt="..." style="width:200px; height: 200px">
                                                </a>
                                            </div>
                                            <%}%>
                                                <%for (var i =0; i<partner.length; i++){%>
                                                    <div>
                                                        <a href="<%=partner[i].sitelink%>" style="margin-left: 50px">
                                                            <img src="<%=partner[i].image%>" alt="..." style="width:200px; height: 200px">
                                                        </a>
                                                    </div>
                                                    <%}%>
                                                        <%for (var i =0; i<partner.length; i++){%>
                                                            <div>
                                                                <a href="<%=partner[i].sitelink%>" style="margin-left: 50px">
                                                                    <img src="<%=partner[i].image%>" alt="..." style="width:200px; height: 200px">
                                                                </a>
                                                            </div>
                                                            <%}%>
                                                                <%for (var i =0; i<partner.length; i++){%>
                                                                    <div>
                                                                        <a href="<%=partner[i].sitelink%>" style="margin-left: 50px">
                                                                            <img src="<%=partner[i].image%>" alt="..." style="width:200px; height: 200px">
                                                                        </a>
                                                                    </div>
                                                                    <%}%>


                    </div>

                    <button type="button" class="slider-nav" aria-label="Go left"></button>
                    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="/all-partners" class="text-center">
                            <button class="btn btn-primary btn-lg form-control" style="background-color: #023020 !important">MORE PARTNERS</button>
                        </a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>
        <!-- Testimonial Section -->
                 <!-- Counter Section -->
        <section class="blog-section bd-bottom padding bg-grey" id="thinkcell">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>OUR OPERATIONS PARTNERS</h2>
                    <span class="heading-border"></span>
                </div>

            </div>
            <div class="container">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="PICS/tc.png" alt="" class="img-fluid mb-5">
                    <p>think-cell is a powerful charting and layout software that enhances the creation of
                        professional presentations &amp; charts in Microsoft PowerPoint using data from
                        Microsoft Excel.</p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="/operation/think-cell" class="text-center">
                            <button class="btn btn-primary btn-lg form-control" style="background-color: #023020 !important">LEARN MORE</button>
                        </a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>
        <!-- Testimonial Section -->

        <section class="blog-section bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>PHOTO GALLERY</h2>
                    <span class="heading-border"></span>
                </div>
                <!-- /Section Heading -->
                <div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay  slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4"
                    data-slider-nav-autoplay-interval="2000">
                    <div class="slider-container" style="height: 300px !important">
                        <%for (var i =0; i<gallery.length; i++){%>
                            <div>
                                <img src="<%=gallery[i].image%>" alt="..." style="width:250px !important; height: 250px !important;margin-left: 50px">
                            </div>
                            <%}%>
                               
                    </div>

                    <button type="button" class="slider-nav" aria-label="Go left"></button>
                    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <a href="/all-gallery" class="text-center">
                            <button class="btn btn-primary btn-lg form-control" style="background-color: #023020 !important">MORE PHOTOS</button>
                        </a>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>



        <%- include('partials/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/ipfs-http-client/dist/index.min.js"></script>
            <!-- jQuery Lib -->
            <script src="js/vendor/jquery-1.12.4.min.js"></script>
            <!-- Bootstrap JS -->
            <script src="js/vendor/bootstrap.min.js"></script>
            <!-- Tether JS -->
            <script src="js/vendor/tether.min.js"></script>
            <!-- Imagesloaded JS -->
            <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
            <!-- OWL-Carousel JS -->
            <script src="js/vendor/owl.carousel.min.js"></script>
            <!-- isotope JS -->
            <script src="js/vendor/jquery.isotope.v3.0.2.js"></script>
            <!-- Smooth Scroll JS -->
            <script src="js/vendor/smooth-scroll.min.js"></script>
            <!-- venobox JS -->
            <script src="js/vendor/venobox.min.js"></script>
            <!-- ajaxchimp JS -->
            <script src="js/vendor/jquery.ajaxchimp.min.js"></script>
            <!-- Counterup JS -->
            <script src="js/vendor/jquery.counterup.min.js"></script>
            <!-- waypoints js -->
            <script src="js/vendor/jquery.waypoints.v2.0.3.min.js"></script>
            <!-- Slick Nav JS -->
            <script src="js/vendor/jquery.slicknav.min.js"></script>
            <!-- Nivo Slider JS -->
            <script src="js/vendor/jquery.nivo.slider.pack.js"></script>
            <!-- Letter Animation JS -->
            <script src="js/vendor/letteranimation.min.js"></script>
            <!-- Wow JS -->
            <script src="js/vendor/wow.min.js"></script>
            <!-- Contact JS -->
            <script src="js/contact.js"></script>
            <!-- Main JS -->
            <script src="js/main.js"></script>
            <script>
                $(window).on('load', () => {
                    console.log(window.IpfsHttpClient().default)
                })
            </script>
</body>

</html>